---
layout: default
language: en
other_languages:
  fr: index.html
---
<h2>Who am I ?</h2>

<p>
  I've been working as a web developer during the last 5 years.
  I've built some e-commerce websites with <a href="http://magento.com">Magento</a>.
  I've also built REST APIs with <a href="http://symfony.com">Symfony2</a> and mobile webviews with <a
    href="https://angularjs.org">AngularJS</a> at <a href="http://tech.m6web.fr">M6Web</a>.<br/>
  I'm now an independent consultant and I aim to help companies solve the issues they may encounter while building web
  software.
</p>
<p><a href="resume.html">Learn more</a></p>

<ul class="posts">
  {% for post in site.posts %}
  {% if post.language == 'en' %}
  <li>{{ post.date | date_to_string }} <a href="{{ post.url }}">{{ post.title }}</a></li>
  {% elsif post.other_languages.en == null %}
  <li>{{ post.date | date_to_string }} [{{post.language}}] <a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endif %}
  {% endfor %}
</ul>
