---
layout: default
language: fr
other_languages:
  en: index_en.html
---
<h3>Qui suis-je ?</h3>

<p>
  Je suis développeur web depuis 5 ans.
  J'ai construit des sites e-commerce avec <a href="http://magento.com">Magento</a>,
  des API REST avec <a href="http://symfony.com">Symfony2</a>
  et des webviews mobiles avec <a href="https://angularjs.org">AngularJS</a>.
</p>
<p>
  Je suis maintenant consultant web indépendant et je souhaite aider les entreprises à résoudre les problèmes qu'elles rencontrent avec leur applicatif web.
</p>
<p><a href="resume.html">Voir mon CV</a></p>

<h3>Expertise technique</h3>

<ul>
  <li>Trouver des pistes pour améliorer les performances.</li>
  <li>Trouver les points faibles de votre architecture et comment les renforcer.</li>
  <li>Comprendre pourquoi ça ne fonctionne pas comme ça le devrait.</li>
  <li>Vous montrer comment mieux utiliser vos outils (composer, git) ou frameworks (symfony, doctrine).</li>
  <li>Corriger ou améliorer vos outils ou frameworks.</li>
</ul>

<h3>Blog posts</h3>
<ul class="posts">
{% for post in site.posts %}
  {% if post.language == 'fr' %}
    <li>{{ post.date | date_to_string }} <a href="{{ post.url }}">{{ post.title }}</a></li>
  {% elsif post.other_languages.fr == null %}
  <li>{{ post.date | date_to_string }} [{{post.language}}] <a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>
