<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset='utf-8'>
    <meta name="author" content="Adrien Samson">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width, viewport-fit=cover">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300..700&family=Fredoka:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheet.css" media="screen,print" />
    <link rel="stylesheet" type="text/css" href="/cv.css" media="screen,print" />
    <link rel="stylesheet" type="text/css" href="/print.css" media="print" />
    <title>{% block title %}Adrien Samson{% if page.title %} - {{ page.title }}{% endif %}{% endblock %}</title>
</head>

<body>
<div id="container">
    <div class="inner">

        <header>
            {% block header %}
            <h1><a href="/">Adrien Samson</a></h1>
            {% endblock %}
        </header>
        <hr />

        <section id="main_content">
            {% block content %} {% endblock %}
        </section>
    </div>
</div>
</body>
</html>
