{% extends 'base.html' %}

{% block content %}
<h2>Qui suis-je ?</h2>

<p>
    En 15 ans d'expérience, j'ai travaillé dans de nombreux contextes : back et front sur le web, applications mobiles et embarqué.
    J'ai de solides connaissances en administration linux, devops et protocoles réseaux et j'œuvre pour la qualité en promouvant les bonnes pratiques, les tests et l'intégration continue, afin d'obtenir des produits plus maintenables et durables.
</p>
<p><a href="cv2025.html">Mon CV</a></p>

<h2>Blog posts</h2>
<ul class="posts">
    {% set section = get_section(path="blog/_index.md") %}
    {% for post in section.pages %}
    <li>{{ post.date | date(format="%d %h %Y", locale="fr_FR") }} <a href="{{ post.permalink }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>

<h2>Contact</h2>
<p>
    <a href="https://www.linkedin.com/in/adriensamson">LinkedIn</a> |
    <a href="mailto:pro@adriensamson.fr">Email</a> |
    <a href="https://github.com/adriensamson">GitHub</a>
</p>
{% endblock %}
