{% extends 'base.html' %}

{% block content %}
<h2>Qui suis-je ?</h2>

<p>
    Durant les années 2010, en tant que développeur web, j'ai construit des sites e-commerce avec <a href="http://magento.com">Magento</a>,
    des API REST avec <a href="https://symfony.com">Symfony</a>
    et des webviews mobiles avec <a href="https://angular.io">Angular</a> et Cordova.
</p>
<p>
    Depuis 2020, je suis aussi responsable de la chaine logistique dans une TPE.
</p>
<p><a href="cv">Mon CV</a></p>

<h2>Blog posts</h2>
<ul class="posts">
    {% set section = get_section(path="blog/_index.md") %}
    {% for post in section.pages %}
    <li>{{ post.date | date(format="%d %h %Y", locale="fr_FR") }} <a href="{{ post.permalink }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>

<h2>Contact</h2>
<p>
    <a href="https://www.linkedin.com/in/adriensamson">LinkedIn</a> |
    <a href="mailto:pro@adriensamson.fr">Email</a> |
    <a href="https://github.com/adriensamson">GitHub</a>
</p>
{% endblock %}
