{% extends 'base.html' %}

{% block title %}
{{ page.title }} par Adrien Samson
{% endblock %}

{% block header %}
<h1>{{ page.title }}</h1>
<div><a href="/">Adrien Samson</a>, {{ page.date | date(format="%d %h %Y", locale="fr_FR") }}</div>
{% endblock %}

{% block content %}
    {{ page.content | safe }}

    <footer>
        <hr>
        <a href="https://www.linkedin.com/in/adriensamson">LinkedIn</a> |
        <a href="mailto:pro@adriensamson.fr">Email</a> |
        <a href="https://github.com/adriensamson">GitHub</a>
    </footer>
{% endblock %}
