<!DOCTYPE html>
<html lang="{{ page.language }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_monokai.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% case page.language %}
    {% when 'fr' %}
    <title>{{ page.title }} par Adrien Samson</title>
    {% else %}
    <title>{{ page.title }} by Adrien Samson</title>
    {% endcase %}

    {% include ga.html %}
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          {% case page.language %}
          {% when 'fr' %}
          <h1>{{ page.title }}</h1> par <a href="/">Adrien Samson</a> le {{ page.date | date_to_string }}
          {% else %}
          <h1>{{ page.title }}</h1> by <a href="/index_en.html">Adrien Samson</a> on {{ page.date | date_to_string }}
          {% endcase %}
        </header>

        <hr />
        {% if page.other_languages %}
        <nav id="other_languages">
          {% for language in page.other_languages %}
          <a href="{{language[1]}}">[{{language[0]}}]</a>
          {% endfor %}
        </nav>
        {% endif %}

        <section id="main_content">
        {{ content }}
        </section>

        <hr />

        <section id="downloads" class="clearfix">
          {% case page.language %}
          {% when 'fr' %}
          <a href="https://github.com/adriensamson/adriensamson.github.io/tree/master/{{ page.path }}" id="view-on-github" class="button">
            <span>Voir sur GitHub</span>
          </a>
          {% else %}
          <a href="https://github.com/adriensamson/adriensamson.github.io/tree/master/{{ page.path }}"
             id="view-on-github" class="button">
            <span>View on GitHub</span>
          </a>
          {% endcase %}
        </section>
      </div>
    </div>
  </body>
</html>
